[submodule "datasets/sidd"]
	path = datasets/sidd
	url = https://github.com/DLakesummer/sidd
[submodule "datasets/test_ds"]
	path = datasets/test_ds
	url = https://github.com/DLakesummer/test_ds
[submodule "datasets/userData"]
	path = datasets/userData
	url = https://github.com/DLakesummer/userData
[submodule "datasets/datasets/Vid1"]
	path = datasets/datasets/Vid1
	url = https://github.com/AMES-DLAB/Vid1
[submodule "datasets/Vid1"]
	path = datasets/Vid1
	url = https://github.com/AMES-DLAB/Vid1
[submodule "datasets/DataDump"]
	path = datasets/DataDump
	url = https://github.com/rmrresearch/DataDump
